.footer-content{
  height: 80px;
  background: #2c2b2b;
  padding: 60px;
  text-align: center;
}

.footer-content p{
  color: #999999;
}

.icon-heart{
  color: red;
}

.footer-icons{
  color: #a7c5eb;
  font-size: 32px;
}
