.icon-title{
  text-align: center;
}

.card-icons{
  width: 920px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-evenly;

}

.card-box{
  padding: 30px;
  text-align: center;
  border: 1px solid rgb(230,230,230);
  box-shadow: 0 0 5px rgb(230 230 230);
  max-width: 200px;
}

.icons{
  height: 100px;
  width: 120px;
}

.card-box h2{
  font-size: 16px;
}

.card-box p{
  font-size: 14px;
  font-weight: lighter;
}
